@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 50px;
  background-color: #343a40;
}

.logo {
  display: grid;
  grid-template-columns: 1fr;
  width: 350px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 400px;
  color: #fff;
  margin-left: 40px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
}

.components {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  gap: 30px;
  width: 200px;
  height: 950px;
  margin: 40px 0 40px 40px;
  border: 1px solid #334562;
  border-radius: 10px;
  overflow: scroll;
}

.components::-webkit-scrollbar {
  width: 5px;
}

.components::-webkit-scrollbar-thumb {
  background-color: #334562;
}

.components-title {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: "Roboto";
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.component-image1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 96px;
  height: 96px;
  border: 1px solid #fff;
  background: url("../images/component_1.png");
}